@font-face {
    font-family: 'TTLakesCondensed';
    src: url("fonts/TTLakesCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin: 1;
    font-family: 'TTLakesCondensed', sans-serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

h2{
    border-left: 4px solid #41F6D7;
    padding-left: 4%;
}

.img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.menu {
    background: #f8f8f8;
    top: 88px;
    opacity: 1;
    width: 100%;
}

.upper-menu {
    display: none;
}

.slide-menu{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  scrollbar-width: none;
}
.slide-menu::-webkit-scrollbar {
  display: none;
}


.slide-menu__item:hover{
    border: 2px solid #B8FFEC
}

.slide-menu__item{
    width: 100%;
    border-radius: 6px;
    background:transparent;
    border: #FFFFFF;
    height: 40px;
    font-size: 16px;
}

.text{
    width: 100%;
    border: 2px solid #FFFFFF
}

.main-image{
    width: 100%;
}
.tablet {
    display: none;
}
.page__img__tablet{
    display: none;
}

/* Tablet */
    @media (min-width: 768px) {
        body{
            max-width: 768px;
        }

        .tablet{
            display: block;
        }

        .text{
            display: flex;
        }

        .page__img{
            display: flex;
            gap: 20px;
        }

        .page__img__right{
            display: flex;
            gap: 20px;
        }
  }

/* Desktop */
@media(min-width:1120px)
{
    body{
        max-width: 1120;
    }

    .page__img{
        display: none;
    }
    .page__img__right{
        display: none;
    }
    
    .upper-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }



}