@font-face {
    font-family: 'TTLakesCondensed';
    src: url("fonts/TTLakesCondensed-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'TTLakesCondensed';
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin: 1;
    font-family: 'TTLakesCondensed', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

h2{
    border-left: 4px solid #41F6D7;
    padding-left: 4%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.about {
    background: #f8f8f8;
    top: 88px;
    opacity: 1;
    width: 100%;
    border: solid #41F6D7;

}

.upper-menu {
    display: none;
}

.slide-menu{
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 10px;
  gap: 24px;
  margin-left: 24px;
}
.slide-menu::-webkit-scrollbar {
  display: none;
}


.slide-menu__item:hover{
    border: 2px solid #B8FFEC
}

.slide-menu__item{
    width: 100%;
    border-radius: 6px;
    background:transparent;
    border: #FFFFFF;
    height: 40px;
    font-size: 16px;
}

.text{
    width: 100%;
    border: 2px solid #FFFFFF
}

.text-block{
    margin-left: 24px;
}

.main-image{
    width: 100%;
}
.tablet {
    display: none;
}
.header__img__tablet{
    display: none;
}

.tab-version-text{
    display: none;
}

/* Tablet */
    @media (min-width: 768px) {
        body{
            max-width: 100%;
        }

        .tablet{
            display: block;
        }

        .text{
            display: flex;
        }

        .header__img{
            display: flex;
            gap: 20px;
        }

        .header__img__right{
            display: flex;
            gap: 20px;
        }
        .tab-version-text{
            display: block;
        }
        .desktop-version-text{
            display: none;
        }

  }

/* Desktop */
@media(min-width:1120px)
{
    .header__img{
        display: none;
    }
    .header__img__right{
        display: none;
    }
    
    .upper-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .upper-menu__left{
        font-size: larger;
    }

    .upper-menu__right{
        display: inline-flex;
        align-items: center;
        margin-right: 32px;
        gap: 32px;
    }

    .menu-item{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .about h2{
        display: none;
    }

    .tab-version-text{
            display: block;
        }

    .desktop-version-text{
            display: block
        }

}